html{
    
        scroll-behavior: smooth;
}


#landing{
    background-color: #161316;
    height: 100vh;
    padding: 2rem;
} 
#landing #profilePic {
    width: 300px;
    height: 300px;
    border-width: 5px !important;

} nav .list {
    display: block;
    width: 100%;
}
.imgsize{
    width: 100px;
}

#gmap_canvas {

    height: 70vh;
    width: 100%;
}
#contact {
    min-height: 100vh;
}
#tools {
    min-height: 100vh;
}
.fa-icons{

    font-size: 2rem;
}